<div id="<%= dom_id reservation %>">
  <p>
    <strong>External ID:</strong>
    <%= reservation.external_id %>
  </p>

  <p>
    <strong>Checkin at:</strong>
    <%= reservation.checkin_at %>
  </p>

  <p>
    <strong>Checkout at:</strong>
    <%= reservation.checkout_at %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= reservation.price %>
  </p>

  <p>
    <strong>Guest name:</strong>
    <%= reservation.guest_name %>
  </p>

  <p>
    <strong>Listing:</strong>
    <%= reservation.listing_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reservation.status %>
  </p>

</div>
